<header>
  <div class="text-center">
    <h1>Simulación Dardos</h1>
  </div>
</header>
<main>
  <div class="canvas-container">
    <canvas id="canvas" #canvas [width]="this.diameter" [height]="this.diameter"></canvas>
  </div>

  <div class="card controls-area">
    <div class="card-header text-center">
      Configuración
    </div>
    <div class="card-body">
      <form [formGroup]="form" (submit)="simulate()">

        <div class="form-group">
          <label for="totalDartsToGenerate">Total de dardos:</label>
          <input class="form-control" type="number" id="totalDartsToGenerate" formControlName="totalDartsToGenerate">
        </div>

        <div class="form-group">
          <label for="time">Duración mínima (seg):</label>
          <input class="form-control" type="number" id="time" formControlName="time">
        </div>

        <div class="controls">
          <button class="btn btn-danger" type="button" (click)="resetBoard()" [disabled]="isProcessing">Reiniciar</button>
          <button class="btn btn-success" [disabled]="isProcessing">Iniciar simulación</button>
        </div>

        <div class="progress-indicator-bar">
          <span class="percentage-label">{{ this.printPercentage }} %</span>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': (this.percentage * 100)}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </form>
      <div class="results">
        <div class="item-result">
          <p>Dardos fuera del círculo</p>
          <p>{{ this.totalDartsInside }}</p>
        </div>
        <div class="item-result">
          <p>Total de dardos</p>
          <p>{{ this.totalDarts }}</p>
        </div>
        <div class="item-result">
          <p>Aproximación a PI</p>
          <p>&#x3C0; &#8776; {{ pi }}</p>
        </div>
      </div>
    </div>
  </div>

</main>
